@media (max-width: 1450px) {
  /* footer */
  .footer__list {
    flex-direction: column;
  }
  .footer__item {
    text-align: center;
    width: 100%;
  }
  .footer__link {
    display: block;
  }
  .footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /*poetry  */
  .poetry__content {
    flex-direction: column;
  }
  .poetry__text {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .poetry__btn {
    width: fit-content;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  /* header */
  .header {
    position: relative;
  }
  .header__inner {
    padding: 30px 0 15px 0;
  }
  .header__burger {
    display: flex;
    position: relative;
    z-index: 4;
  }

  .header__item--mob {
    display: block;
  }
  .header__nav {
    padding: 72px 10px 20px 28px;
    overflow-y: auto;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateX(100%);

    transition: all, 0.3s;

    background-color: var(--body-bg);
  }
  .header__list {
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item {
    width: 100%;
  }
  .header__link {
    display: block;
  }
  .header__link span {
    display: none;
  }
  .header__link .header__link--mob {
    display: block;
  }
  .header__item--dropdown .header__link::after {
    content: none;
  }

  .menu--active .header__nav {
    transform: translateX(0);
  }

  .menu--active .header__burger-line--2 {
    transform: translateY(-50%) rotate(45deg);
  }
  .menu--active .header__burger-line--3 {
    opacity: 1;
    transform: translateY(-50%) rotate(-45deg);
  }
  .menu--active .header__burger-line--1,
  .menu--active .header__burger-line--4 {
    opacity: 0;
  }

  /* hero */
  .hero__content {
    padding: 55px 0 100px 0;
    max-width: 500px;
    margin-left: auto;
  }
  .hero__paragraph {
    margin-bottom: 26px;
  }
  .hero__scrolldown {
    width: 80px;
    height: auto;
  }

  /* last news */
  .last-news__list {
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .last-news__item {
    display: flex;
  }
  .last-news__img-wrapper {
    max-width: 31%;
    width: 100%;
  }
  .last-news__content {
    width: 100%;
    border-top: var(--card-border);
    border-left: none;
  }
  .last-news__link {
    margin-right: auto;
    margin-left: 0;
  }

  /* songs */
  .songs__list {
    width: 100%;
    max-width: 100%;
  }
  .songs__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .songs__img-wrapper {
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
  }
  .player__box {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .paragraph-1,
  .paragraph-2,
  .paragraph-3,
  .link-download {
    font-size: 16px;
  }
  .button-1 {
    font-size: 18px;
  }
  .title-1 {
    font-size: 28px;
  }
  .title-3 {
    font-size: 24px;
  }
  .title-4 {
    font-size: 20px;
  }

  /* hero */
  .hero__author {
    font-size: 22px;
  }

  /* songs */
  .player__top {
    margin-bottom: 10px;
  }

  .player__volume-wrapper {
    display: none;
  }
  .player__box {
    max-width: 100%;
    margin-right: 0;
  }

  /* speeches */
  .speeches__paragraph {
    font-size: 14px;
  }

  /* poetry  */
  .poetry__img-wrapper {
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .hero__img-wrapper {
    position: relative;
    top: auto;
    left: auto;
  }
  .hero__content {
    padding: 0;
    max-width: 95%;
  }
  .hero__scrolldown {
    display: none;
  }
}
@media (max-width: 800px) {
  /* speeches */
  .speeches__arrow-prev,
  .speeches__arrow-next {
    display: block;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transition: opacity, var(--animation-duration);
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: block;
    font-size: 31px;
    font-weight: 600;
  }

  .speeches .swiper-button-next:after,
  .speeches .swiper-button-prev:after {
    color: var(--body-bg);
  }

  /* poetry */
}
@media (max-width: 600px) {
  .link-download {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
  }
  .paragraph-1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 143.4%; /* 17.208px */
    letter-spacing: 0.6px;
  }
  .paragraph-2 {
    font-size: 12px;
  }
  .paragraph-3 {
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.15px;
    font-weight: 500;
    line-height: normal;
  }
  .button-1 {
    color: var(--accent-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .title-1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    text-transform: none;
  }
  .title-3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .title-4 {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }
  /* header */
  .header__inner {
    padding: 18px 0 13px 0;
  }
  .header__logo {
    max-width: 70px;
  }

  /* hero */
  .hero .container {
    padding: 0;
  }
  .hero__inner {
    margin-top: 26px;
    margin-bottom: 39px;
  }

  .hero__img-wrapper {
    margin-bottom: 20px;
  }
  .hero__img {
    display: none;
  }

  .hero__img--mob {
    display: block;
  }

  .hero__content {
    padding: 0 15px;
    max-width: 100%;
  }
  .hero__author {
    margin-top: 12px;

    font-size: 18px;
    text-align: left;
  }

  .hero__paragraph {
    margin-bottom: 18px;
  }

  .hero__paragraph:nth-child(2) {
    max-width: 220px;
    margin-bottom: 12px;
  }

  .hero .br--mob {
    display: block;
  }

  /* last-news */
  .last-news__inner {
    margin-bottom: 40px;
  }
  .last-news__list {
    grid-gap: 12px;
  }
  .last-news__title {
    margin-bottom: 30px;
  }
  .last-news__date {
    margin-bottom: 7px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%; /* 17.208px */
    letter-spacing: 0.6px;

    color: var(--gray-3, #828282);
  }
  .last-news__name {
    margin-bottom: 19px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .last-news__link {
    padding: 5px;
  }
  /* songs */
  .songs__inner {
    margin-bottom: 29px;
  }
  .songs__title {
    margin-bottom: 27px;
  }
  .songs__item {
    margin-bottom: 13px;
    padding: 12px;
  }
  .songs__item:nth-child(5) {
    margin-bottom: 0;
  }

  .songs__item:last-child {
    display: none;
  }

  .player__song-duration,
  .player__song-volume {
    height: 8px;
  }

  .player__song-duration::-webkit-slider-thumb,
  .player__song-volume::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
  }
  .player__stop {
    width: 19px;
    margin-right: 0;
    margin-left: 13px;
    order: 2;
  }
  .player__start {
    width: 14px;
    margin-right: 13px;
  }

  /* speeches */
  .speeches__inner {
    margin-bottom: 39px;
  }
  .speeches__title {
    margin-bottom: 24px;
  }
  .speeches__name {
    margin-bottom: 7px;
  }
  .speeches__date {
    margin-bottom: 10px;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%; /* 17.208px */
    letter-spacing: 0.6px;
  }
  .speeches__paragraph {
    margin-bottom: 3px;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%; /* 14.34px */
    letter-spacing: 0.5px;
  }
  .speeches__video-link {
    margin-bottom: 8px;
  }
  .speeches__list {
    margin-bottom: 15px;
  }
  .speeches__btn {
    margin-right: auto;
    margin-left: 0;
  }

  .speeches .swiper-button-next::after {
    padding: 13px 17px 0px 0px;
  }
  .speeches .swiper-button-prev::after {
    padding: 13px 0 0 17px;
  }

  /* gallery */
  .gallery__inner {
    margin-bottom: 39px;
  }
  .gallery__title {
    margin-bottom: 35px;
  }
  .gallery__list {
    height: 426px;
    margin-bottom: 18px;
  }
  .gallery__btn {
    margin-right: auto;
    margin-left: 0;
  }
  .gallery__arrow-next,
  .gallery__arrow-prev {
    display: block;
  }

  .gallery .swiper-button-next::after,
  .gallery .swiper-button-prev::after {
    color: var(--text-color-2);
    font-weight: 500;
  }
  .gallery__arrow-next {
    margin-right: 14px;
  }
  .gallery__arrow-prev {
    margin-right: 14px;
  }

  /* poerty */
  .poetry__inner {
    margin-bottom: 30px;
  }
  .poetry__box {
    flex-direction: column;
  }
  .poetry__img-wrapper {
    margin-bottom: 15px;
  }
  .poetry__title {
    margin-bottom: 25px;
  }
  .poetry__paragraph:not(:last-child) {
    margin-bottom: 16px;
  }
  .poetry__text {
    margin-bottom: 15px;
  }

  /* footer */

  .footer {
    padding: 23px 0;
  }
  .footer__logo {
    max-width: 68px;
    margin: 0 auto 24px auto;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__nav {
    margin-bottom: 24px;
  }
  .footer__rights {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%; /* 14.34px */
    letter-spacing: 0.5px;
  }
}
