:root {
  --body-bg: #010101;
  --text-color: #efefef;
  --text-color-2: #fff;
  --accent-color: #f8c258;

  --gray-3: #828282;
  --gray-4: #bdbdbd;

  --border-btn1: 1px solid var(--accent-color);
  --padding-btn1: 15px 20px;

  --card-padding: 20px;
  --card-border: 1px solid #bdbdbd;

  --animation-duration: 0.3s;
}
@media (max-width: 900px) {
  :root {
    --padding-btn1: 10px;
  }
}
@media (max-width: 600px) {
  :root {
    --padding-btn1: 8px 10px;

    --card-padding: 10px;
  }
}
